@if (!isLoginPage) {
<div class="toolbar">
  <div class="toolbar-left">
    <button class="hamburger" (click)="toggleSidebar()">
      <i class="pi pi-bars"></i>
    </button>
    <span class="app-title"><a href="home/">AAC Sustav</a></span>
  </div>

  @if(userMenuOpen) {
  <div class="dropdown-overlay" (click)="userMenuOpen = false"></div>
  }

  <div class="user-info" (click)="toggleUserMenu()">
    <i class="pi pi-user"></i>

    @if(isAdmin()) {
    <span>{{ userRole }}</span>
    }
    @if(!isAdmin()) {
      <span>{{ userTitle ? userTitle + ' ' : '' }}{{ userFullName }}</span>
      }

    <div class="user-dropdown" *ngIf="userMenuOpen">
      <div class="dropdown-header">
        <span class="dropdown-role">Uloga: {{ userRole }}</span>
      </div>
      <button (click)="goToSettings($event)">
        <i class="pi pi-cog"></i> Postavke
      </button>
      <button (click)="logout($event)">
        <i class="pi pi-sign-out"></i> Odjava
      </button>
    </div>
  </div>
</div>

<div class="overlay" [class.open]="sidebarOpen" (click)="toggleSidebar()"></div>

<div class="drawer" [class.open]="sidebarOpen">
  <div class="drawer-header">
    <span class="drawer-title">Izbornik</span>
    <button class="close-btn" (click)="toggleSidebar()">
      <i class="pi pi-times"></i>
    </button>
  </div>
  <nav class="nav-links">
    <a href="home/"><i class="pi pi-home"></i><span>Početna</span></a>
    @if(isAdmin()) {
    <a href="users/"><i class="pi pi-user"></i><span>Pregled korisnika</span></a>
    }
    <a href="events/"><i class="pi pi-calendar"></i><span>Pregled događaja</span></a>
    <a href="digital-content/"><i class="pi pi-file"></i><span>Digitalizirani sadržaj</span></a>
    @if(!isAdmin()) {
    <a href="digital-content-requests/"><i class="pi pi-file"></i><span>Moji zahtjevi</span></a>
    }
    @if(isAdmin()) {
    <a href="digital-content-requests/"><i class="pi pi-file"></i><span>Pregled zahtjeva</span></a>
    }
    @if(isAdmin()) {
      <a href="reports/"><i class="pi pi-file"></i><span>Izvještaji</span></a>
      }
  </nav>
</div>
}

<main class="content">
  <router-outlet />
</main>